
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  padding-top: 60px;
  background-color: #0c0c0c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contact__form .form-control {
  padding: 1.375rem .75rem;
  line-height: 1.5;
  color:#ffffff;
  background-color: #0c0c0c;
  border-radius: 0 !important;
  border: 1px solid #fff;


}

.contact__form input.form-control{
  margin-bottom: 2em;
  height: calc(2.5em + .75rem + 2px);

}

.btn {
  color: white;
  border: 2px solid white;
}

.btn:hover{
  color: white;
  background-color: green;

}




